/*Eigenes*/

body, wrapper {
    min-height:100vh;
}

.message-symbol {

    font-size: 2em;
    color:#343A40;
    width:5em;
}

.navbar-sub{

    background-color:crimson;

}


/*Neue Badge-Farben*/
.badge-admin {
    color: #fff;
    background-color: crimson;
}

.badge-admin[href]:hover, .badge-admin[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #b41438;
}

.badge-moderator {
    color: #fff;
    background-color: orange;
}

.badge-moderator[href]:hover, .badge-moderator[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: darkorange;
}

.badge-protector {
    color: #fff;
    background-color: lightseagreen;
}

.badge-protector[href]:hover, .badge-protector[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: seagreen;
}

.badge-spy{
    color: #fff;
    background-color: slategray;
}

.badge-spy[href]:hover, .badge-spy[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: darkslategray;
}

.badge-ninja{
    color: #fff;
    background-color: darkviolet;
}

.badge-ninja[href]:hover, .badge-ninja[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: indigo;
}

.badge-supporter{
    color: #fff;
    background-color: gold;
}

.badge-supporter[href]:hover, .badge-supporter[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: goldenrod;
}

.badge-user {
    color: #fff;
    background-color: #007bff;
}

.badge-user[href]:hover, .badge-user[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc;
}

/*Additional Badges*/

.badge-ice {
    color: #343A40;
    background-color: aliceblue;
}

.badge-ice[href]:hover, .badge-ice[href]:focus {
    color: #343A40;
    text-decoration: none;
    background-color: lightsteelblue;
}

.badge-earth {
    color: #fff;
    background-color: forestgreen;
}

.badge-earth[href]:hover, .badge-earth[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: darkgreen;
}

.badge-air {
    color: #343A40;
    background-color: whitesmoke;
}

.badge-air[href]:hover, .badge-air[href]:focus {
    color: #343A40;
    text-decoration: none;
    background-color: #e5e5e5;
}

.badge-fire {
    color: #fff;
    background-color: #ff4726;
}

.badge-fire[href]:hover, .badge-fire[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #d13e22;
}

/*Boostrap Anpassungen*/
.btn-primary {
    color: #fff;
    background-color: crimson;
    border-color: crimson;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b41438;
    border-color: #b41438;
}

a {
    color: crimson;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: crimson;
    color: #b41438;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.nav-underline .nav-link:hover {
    color: #b41438;
}

.nav-underline .nav-link {
    color: white;
}

.btn-outline-success {
    color: crimson !important;
    background-color: transparent;
    background-image: none;
    border-color: #b41438 !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: crimson;
    border-color: #b41438;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(180, 20, 56, 0.5) !important;
}